footer {
    background-image: url(../images/map-image.png);
    background-color: darken($logoBlue, 15%);
    color: white;
    padding: 20px;
    text-align: center;
    height: 700px;
    width: 100%;
}
