header {
    background: black;
    overflow: visible; // in case the logo wants out of the header
    z-index: 1;

    @include viewports(above stacked) { // set up a static header
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    nav {
        width: 100%;
        max-width: $LAYOUT_MAX_WIDTH;
        margin: 0 auto;
        text-align: right; // in "above stacked", the nav-items should pack to the right
        position: relative;

        a {
            display: block;
            padding: 10px $LAYOUT_PADDING;
            text-decoration: none;
            text-align: center;
            color: white;

            @include viewports(above stacked) {
                display: inline-block; // switch to inline-block to pack links to the right
            }

            &:first-child { // i.e. the logo
                color: transparent;
                height: 100px;
                background-image: image-url('aikumo-logo.png');
                background-size: auto 80px;
                background-repeat: no-repeat;
                background-position: center;

                @include viewports(above stacked) {
                    position: absolute;
                    left: $LAYOUT_PADDING;
                    top: 0;
                    width: 170px;
                    height: 80px;
                }
            }
        }
    }
}
