$headerAnimationSpeed: 150ms;

header {
    background: whitesmoke; //#F2F2F2;
    overflow: visible; // in case the logo wants out of the header
    z-index: 1;
    position: relative;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow $headerAnimationSpeed ease-out;

    .minified-header & {
        background: #f5f3f3;
        @extend %shadow;
    }

    @include viewports(above stacked) { // set up a static header
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    nav {
        background: whitesmoke; //#F2F2F2;
        width: 100%;
        max-width: $LAYOUT_MAX_WIDTH;
        margin: 0 auto;
        text-align: right; // in "above stacked", the nav-items should pack to the right
        overflow: hidden;

        a {
            display: block;
            padding: 70px 20px 70px 20px;
            text-decoration: none;
            text-align: center;
            color: #555;
            font-size: 18px;
            transition: padding-top $headerAnimationSpeed ease-out;

            &:last-child {
                padding-right: 20px; // TODO: What about stacked..?
            }

            .minified-header & { // collapse the navi item height when scrolled down
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &:hover {
                color: #777;
            }

            @include viewports(fluid fluid-) {
                display: inline-block; // switch to inline-block to pack links to the right
                width: (100% - 25%) / 4; // leave ~25% space for the logo
                text-align: left;
                line-height: 22px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            @include viewports(up-to stacked) {
                &:first-child {
                    width: 50%;
                    max-width: 180px; // so the logo won't blow up
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    //margin-bottom: -2px !important;
                }

                &:not(:first-child) {
                    text-align: right;
                    padding: 2px 10px 0 10px;
                    width:  50%;
                    float: right;
                    clear: both;
                    font-size: 13px;
                    display: block;
                }
            }

            @include viewports(up-from static) {
                display: inline-block; // switch to inline-block to pack links to the right
            }

            &:first-child { // i.e. the logo
                color: transparent;
                height: 120px;
                padding: 0;
                margin: 0;
                background-image: image-url('aikumo-logo.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                @include viewports(above stacked) { // use an absolutely-positioned logo instead of the stacked one
                    // see http://pleeease.io/play/
                    -webkit-transform-origin: left center;
                    transform-origin: left center;
                    transition: -webkit-transform $headerAnimationSpeed ease-out;
                    transition: transform $headerAnimationSpeed ease-out;
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    width: 260px;
                    height: 120px;
                    transform: translateY(-50%);

                    .minified-header & { // collapse the logo to its smaller size when scrolled down
                        transform: translateY(-50%) scale(0.4);
                    }
                    @include viewports(fluid fluid-) { // ...or when in fluid layout mode
                        transform: translateY(-50%) scale(0.4);
                    }
                }
            }
        }
    }
}
