$headerMinificationSpeed: 250ms;

header {
    background: whitesmoke; //#F2F2F2;
    overflow: visible; // in case the logo wants out of the header
    z-index: 1;

    .minified-header & {
        background: #f5f3f3;
        @extend %shadow;
    }

    @include viewports(above stacked) { // set up a static header
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    nav {
        background: whitesmoke; //#F2F2F2;
        width: 100%;
        max-width: $LAYOUT_MAX_WIDTH;
        margin: 0 auto;
        text-align: right; // in "above stacked", the nav-items should pack to the right

        a {
            display: block;
            padding: 63px 20px 20px 20px;
            text-decoration: none;
            text-align: center;
            color: #555;
            font-size: 18px;
            transition: padding-top $headerMinificationSpeed ease-out;

            &:last-child {
                padding-right: 20px; // TODO
            }

            .minified-header & {
                padding-top: 20px;
            }

            &:hover {
                color: #777;
            }

            @include viewports(above stacked) {
                display: inline-block; // switch to inline-block to pack links to the right
            }

            &:first-child { // i.e. the logo
                color: transparent;
                height: 120px;
                padding: 0;
                margin: 0;
                background-image: image-url('aikumo-logo.png');
                background-size: auto 120px;
                background-repeat: no-repeat;
                background-position: left top;
                // see http://pleeease.io/play/
                -webkit-transform-origin: left top;
                transform-origin: left top;
                transition: -webkit-transform $headerMinificationSpeed ease-out;
                transition: transform $headerMinificationSpeed ease-out;

                .minified-header & {
                    -webkit-transform: scale(0.4) translateY(-50px);
                    transform: scale(0.4) translateY(-50px);
                }

                @include viewports(above stacked) {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                    width: 260px;
                    height: 120px;
                }
            }
        }
    }
}
