* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    padding: $LAYOUT_PADDING;
    width: 100%;
    max-width: $LAYOUT_MAX_WIDTH;
    margin: 0 auto;
}

body > * {
    overflow: hidden; // to disable margin bleed
}
