section#technology {
    background: rgb(47, 47, 45);
    color: #d6d6d6;

    @include standard-centered-section();

    img {
        margin-top: 40px;
        margin-bottom: 80px;
        width: 100%;

        @include viewports(up-to fluid) {
            margin-top: 10px;
            margin-bottom: 60px;
        }

        @include viewports(up-to stacked) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

}
