section#services {
    background: darken($logoBlue, 10%);
    color: whitesmoke;
    width: 100%;

    .intro-area {
        @include standard-centered-section();
    }

    .service-section {
        @extend %shadow-large;
        @include standard-centered-section();
        padding: 30px 70px;
        background: whitesmoke;
        color: #444;
        overflow: hidden;
        margin-bottom: 70px;
        min-height: 400px;

        @include viewports(up-to stacked) {
            padding: 0px 25px;
            margin: 30px -20px;
        }

        @include viewports(fluid) {
            padding: 40px 80px;
            margin: 30px -20px;
        }

        &.first h3 { color: #F01B64; }
        &.second h3 { color: #08A93B; }
        &.third h3 { color: $logoBlue; }

        h3 {
            font-size: 35px;
            line-height: 40px;
            font-weight: normal;

            @include viewports(up-to fluid-) {
                font-size: 25px;
                line-height: 30px;
            }
        }

        > div { // e.g. the text box
            width: 100%;

            p {
                display: block;
                width: 30%;
                float: left;
                margin-right: 5%;

                @include viewports(up-to fluid-) {
                    width: 100%;
                    float: none;
                }
            }

            ul {
                width: 65%;
                float: left;

                @include viewports(up-to fluid-) {
                  padding-left: 25px;
                  width: 100%;
                  float: none;
                }

                li {
                    padding-bottom: 15px;
                    position: relative;

                    &::before {
                        content: "";
                        background: #444;
                        position: absolute;
                        top: 9px;
                        left: -22px;
                        width: 12px;
                        height: 12px;
                        border-radius: 12px;
                        display: block;
                    }
                }
            }
        }

        img {
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
    }

}
