$VIEWPORTS_CONFIG:
    up-to  550px it-is "stacked",
    up-to 1024px it-is "fluid",
    beyond-that  it-is "static";
//$VIEWPORTS_DEBUG: true;

// bower:scss
@import "viewports/_viewports.scss";
// endbower

$LAYOUT_MAX_WIDTH: 1300px;
$LAYOUT_PADDING: 20px;

@mixin standard-centered-section {
    padding-left: $LAYOUT_PADDING;
    padding-right: $LAYOUT_PADDING;
    width: 100%;
    max-width: $LAYOUT_MAX_WIDTH;
    margin-left: auto;
    margin-right: auto;
}

// Colors
$logoBlue: #369AB3;

@import "layout";
@import "common";
@import "header";
@import "sec-home";
@import "sec-about";
@import "sec-services";
@import "sec-technology";
@import "sec-contact";
@import "footer";
