$VIEWPORTS_CONFIG:
    up-to  550px it-is "stacked",
    up-to 1024px it-is "fluid",
    beyond-that  it-is "static";
//$VIEWPORTS_DEBUG: true;

// bower:scss
@import "viewports/_viewports.scss";
// endbower

$HEADER_HEIGHT: 50px;
$LAYOUT_MAX_WIDTH: 1024px;
$LAYOUT_PADDING: 20px;

@import "layout";
@import "header";
@import "footer";
