<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{ home.title }} - {{ home.tagline }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>

    <header>
        <nav>
            <a data-scroll href="#home">{{ home.navi }}</a>
            <a data-scroll href="#about">{{ about.navi }}</a>
            <a data-scroll href="#services">{{ services.navi }}</a>
            <a data-scroll href="#technology">{{ technology.navi }}</a>
            <a data-scroll href="#team">{{ team.navi }}</a>
            <a data-scroll href="#contact">{{ contact.navi }}</a>
        </nav>
    </header>

    <section id="home">
        <div>
            <h1>{{ home.title }}</h1>
            <div class="bottom-half">
                <p>{{ home.tagline }}</p>
                <a data-scroll href="#about">{{ home.readMore }}</a>
            </div>
        </div>
    </section>

    <section id="about" class="section">
        <div class="intro-area">
            <h2>{{ about.title }}</h2>
            <div class="intro">{{ about.intro }}</div>
        </div>
        <div class="about-sections">
            <section>
                <i class="fa fa-search"></i>
                <h3>{{ about.promise.title }}</h3>
                {{ p(about.promise.content) }}
            </section>
            <section>
                <i class="fa fa-line-chart"></i>
                <h3>{{ about.fast.title }}</h3>
                {{ p(about.fast.content) }}
            </section>
            <section>
                <i class="fa fa-cogs"></i>
                <h3>{{ about.onetwothree.title }}</h3>
                <ol>{{ li(about.onetwothree.content) }}</ol>
            </section>
        </div>
    </section>

    <section id="services" class="section">
        <div class="intro-area">
            <h2>{{ services.title }}</h2>
            <div class="intro">{{ services.intro }}</div>
        </div>
        <% services.sections.forEach(function(section, index) { %>
            <div class="service-section nth-{{ index + 1 }}">
                <h3>{{ section.title }}</h3>
                <div>
                    {{ p(section.description) }}
                    <ul>{{ li(section.bullets) }}</ul>
                </div>
                <% if (section.image) { %>
                    <img src="images/{{ section.image }}" />
                <% } %>
            </div>
        <% }) %>
    </section>

    <section id="technology" class="section">
        <div class="intro-area">
            <h2>{{ technology.title }}</h2>
            <div class="intro">
                Aikumon data-analytiikka toimii palveluina pilviarkkitehtuurissa (Analytics as a Service, AaaS). Käytämme
                standardeja Web-teknologian rajapintoja, protokollia ja turvaratkaisuja. Tietoja voidaan lukea helposti
                esimerkiksi automaatiojärjestelmistä, tietokannoista, mittausverkoista sekä kerätä avointa dataa mistä
                tahansa ulkopuolisesta lähteestä. Palvelumme toimivat pilvessä tai haluttaessa virtuaalikoneena asiakkaan omassa IT-infrassa, samoilla
                standardirajapinnoilla.
            </div>
        </div>
        <img src="images/technology.svg"/>
    </section>

    <section id="team" class="section">
        <h2>{{ team.title }}</h2>
        <ul>
            <li>
                <div class="frame"></div>
                <h3>Pasi Ojala</h3>
                <p>CEO, co-founder</p>
            </li>
            <li>
                <div class="frame"></div>
                <h3>Kari Rantanen</h3>
                <p>Sales and Marketing</p>
            </li>
            <li>
                <div class="frame"></div>
                <h3>Okko Räsänen</h3>
                <p>Chief Scientist, co-founder</p>
            </li>
            <li>
                <div class="frame"></div>
                <h3>Janne Lähteenmäki</h3>
                <p>Software Lead</p>
            </li>
        </ul>
    </section>

    <footer id="contact" >
        <div class="contact">{{ contact.title }}</div>
        <div class="release">Release the hidden power in your data. Now it's finally easy as 1-2-3!</div>
        <form>
            <div>
                <input type="email" placeholder="Sähköpostiosoitteesi" />
                <textarea type="email" rows="7" placeholder="Miten voimme olla avuksi?"></textarea>
            </div>
            <button type="submit">Ota yhteyttä</button>
        </form>
        <div class="copyright">Copyright &copy; Aikumo 2014</div>
    </footer>

    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.js"></script>
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

</body>
</html>
